body{
     border: 0;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-image:url(bg.png);
     background-size: cover;
}
header{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;
}
nav a{
    color: white;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 20px;
    
}


.main{
    
   font-size: 20px;
    color: white;
    padding: 50px;
    text-align: center;
}
.btn{
    width: 100%;
    padding: 10px;
    background-color: #e73d7b;
    border: none;
    color: rgb(253, 247, 247);
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
    
}
.product img{
    width: 200px;
   
}
.products{
    background-image:url(bg.png) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 50px;
    
}
.product{
    text-align: center;
    background-color:white;
    width: 250px;
    padding: 40px 50px;
    border-radius: 20px;
}

.center-content{
    text-align: center;
    
}

button {
    background-color: #ab3963;
    color: white;             
    border: none;  
    font-size: 18px;            
    padding: 10px 20px; 
    font-weight: bold;      
    border-radius: 8px;        
    cursor: pointer;           
}

button:hover {
    background-color: #e9276e; 
}
.cart-container{
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
.highlights{
    background-color:white;
    padding: 70px;
    margin: 90px auto;
    width: 80%;
    text-align: center;
    border-radius: 12px;
}
.highlights h2{
font-size: 30px;
margin-bottom: 20px;
}
.highlights ul{
    list-style: none;

}
.highlights ul li{
    font-size: 18px;
    padding: 8px 0;
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;

}


#user-display{
    position: absolute;
    right: 20px;
    top:20px;
    font-weight: bold;
}