body{
      border: 0;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-image: url(bg.png);
      background-size: cover;
}
header{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    color: white;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 20px;
}

